.page-header
  %h1 Attendance Dashboard

.container-fluid
  .row-fluid
    .span8
      .chart-wrapper
        .chart-title
          Attendence this Week
        .chart-stage
          #grid-1-1
        .chart-notes
          Date range:
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x240/white"}/
        .chart-notes
          Notes about this chart
  .row-fluid
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
    / end of three
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
    .span4
      .chart-wrapper
        .chart-title
          Cell Title
        .chart-stage
          %img{"data-src" => "holder.js/100%x120/white"}/
        .chart-notes
          Notes about this chart
