%h2 Quantum Attendance 2.0

%div
  %p
    To enter in a new class, click on the 'Enter New Class' menu item in the side bar. If you want to limit the students that you see to a particular school, select that school from the top dropdown menu.

  %p
    You can view and edit members via the side menu as well.

  %p
    If you have any comments, suggestions, or bugs, please email them to Alex Kleissner.
