.page-header
  %h1 Students per Class

.container
  %table.condensed
    %body
      %tr
        %td
          Number of Days:
        %td
          %input#days{:type => 'number', :value => @days, :style => "width: 4em;"}
      %tr
        %td
        %td
          %input#submit.btn{:type => 'submit', :value => 'Generate Report'}

.container
  %table.condensed
    %head
      %tr
        %th Student
        %th # Classes
    %body
      - @meetings_and_counts.each do |tuple|
        %tr
          %td
            = link_to tuple[:meeting].pretty_name, meeting_path(tuple[:meeting])
          %td{ style: "text-align:center"}= tuple[:count]

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "days=" + String($("#days").val());

      window.location.href = url;
      return false;
    });
  });
