.page-header
  %h1 Poor Attendance

.container
  %form.form-inline
    .form-group
      %label{ "for" => "gap" }
        Days to go Back:
      %input.form-control#gap{:type => 'number', :value => @gap, :style => "width: 5em;"}
    .form-group
      %label{ "for" => "threshold" }
        Number of Students:
      %input.form-control#threshold{:type => 'number', :value => @threshold, :style => "width: 5em;"}
    .form-group
      %input#submit.btn.btn-primary{:type => 'submit', :value => 'Generate Report'}

= render 'meetings/meeting_list', :locals => {}

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "gap=" + String($("#gap").val()) + "&threshold=" + String($("#threshold").val());

      window.location.href = url;
      return false;
    });
  });
