.page-header
  %h1 Poor Attendance

.container
  %table.condensed
    %body
      %tr
        %td
          School:
        %td
          = select_tag :school, options_for_select(School.all.collect{|school| [school.name, school.slug]}.insert(0, ['All Schools', '']), @school)
        %td
          Days to go Back:
        %td
          %input#gap{:type => 'number', :value => @gap, :style => "width: 4em;"}
        %td
          Number of Students:
        %td
          %input#threshold{:type => 'number', :value => @threshold, :style => "width: 4em;"}
        %td
          %input#submit.btn{:type => 'submit', :value => 'Generate Report'}

= render 'meetings/meeting_list'

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "gap=" + String($("#gap").val()) + "&threshold=" + String($("#threshold").val()) +
        "&school=" + $("#school").val();

      window.location.href = url;
      return false;
    });
  });
