.page-header
  %h1 Slacker Report

.container
  %form.form-inline
    .form-group
      %label{ "for" => "min" }
        Min
      %input.form-control#min{:type => 'number', :value => @min, :style => "width: 5em;"}
    .form-group
      %label{ "for" => "max" }
        Max
      %input.form-control#max{:type => 'number', :value => @max, :style => "width: 5em;"}
    .form-group
      %input#submit.btn.btn-primary{:type => 'submit', :value => 'Generate Report'}

= render 'members/member_list', :locals => {}

:javascript
  $(document).ready(function() {
    $("#submit").click(function(event) {
      event.preventDefault();
      var url = window.location.protocol + "//" + window.location.host + window.location.pathname + "?" +
        "min=" + String($("#min").val()) + "&max=" + String($("#max").val());

      window.location.href = url;
      return false;
    });
  });
