/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap_and_overrides
 *= require bootstrapValidator.min
 *= require jquery-tablesorter/theme.blue
 *= require_tree .
 *= require_self
 */

.tt-input,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    border-radius: 8px;
    outline: none;
}

.tt-input {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    position: relative !important;
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;
}

.tt-suggestion p {
    margin: 0;
}

.nav>li>a:hover, .nav>li>a:focus {
    text-decoration:none;
    background-color:#0088cc;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    color:#ccc;
    text-decoration:none;
}

div.all-members-container {
    
}

div.member-tile-container {
    border: 1px solid black;
    display: block;
    float: left;
    font-size: 0.9em;
    height: 110px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    width: 150px;
}

div.member-tile-container:hover {
  cursor: pointer;
}

svg.belt-image.white .belt-main {
    fill: #fff;
    stroke: black;
    stroke-width: 1px;
}

svg.belt-image.white .belt-stripe {
    display: none;
    fill: #fff;
}

svg.belt-image.high-white .belt-main {
    fill: #fff;
    stroke: black;
    stroke-width: 1;
}

svg.belt-image.high-white .belt-stripe {
    fill: #ffd700;
}

svg.belt-image.yellow .belt-main {
    fill: #ffd700;
}

svg.belt-image.yellow .belt-stripe {
    fill: #ffd700;
}

svg.belt-image.high-yellow .belt-main {
    fill: #ffd700;
}

svg.belt-image.high-yellow .belt-stripe {
    fill: #006400;
}

svg.belt-image.green .belt-main {
    fill: #006400;
}

svg.belt-image.green .belt-stripe {
    fill: #006400;
}

svg.belt-image.high-green .belt-main {
    fill: #006400;
}

svg.belt-image.high-green .belt-stripe {
    fill: #0000cc;
}

svg.belt-image.blue .belt-main {
    fill: #0000cc;
}

svg.belt-image.blue .belt-stripe {
    fill: #0000cc;
}

svg.belt-image.high-blue .belt-main {
    fill: #0000cc;
}

svg.belt-image.high-blue .belt-stripe {
    fill: #b22222;
}

svg.belt-image.red .belt-main {
    fill: #b22222;
}

svg.belt-image.red .belt-stripe {
    fill: #b22222;
}

svg.belt-image.high-red .belt-main {
    fill: #b22222;
}

svg.belt-image.high-red .belt-stripe {
    fill: #111;
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
  .digg_pagination a, .digg_pagination span, .digg_pagination em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination .disabled {
    color: #999999;
    border: 1px solid #dddddd; }
  .digg_pagination .current {
    font-style: normal;
    font-weight: bold;
    background: #2e6ab1;
    color: white;
    border: 1px solid #2e6ab1; }
  .digg_pagination a {
    text-decoration: none;
    color: #105cb6;
    border: 1px solid #9aafe5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #000033;
      border-color: #000033; }
  .digg_pagination .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }
  *:first-child + html .digg_pagination {
    overflow: hidden; }
